@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.woff2') format('woff2'),
        url('Nunito-Regular.woff') format('woff'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantata One';
    src: url('CantataOne-Regular.woff2') format('woff2'),
        url('CantataOne-Regular.woff') format('woff'),
        url('CantataOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.woff2') format('woff2'),
        url('Poppins-Regular.woff') format('woff'),
        url('Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

