.step__two-registration-inner {
  padding-bottom: 80px;
  padding-top: 30px;
}

.step__two-heading {
  margin-bottom: 30px;
  text-align: center;
  font-family: $Cantata;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 61px;
  color: #ffffff;
}

.step__two-registration {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  background: rgba(241, 240, 240, 0.3);
  border-radius: 15px;
  padding-bottom: 34px;

  .registration-submit-wrap {
    display: flex;
    justify-content: flex-end;
  }

  .registration-submit {
    text-align: center;
    background: #f2b50f;
    border-radius: 4px;
    border: none;
  }
}
