.lawyer-profile-wrapper {
  background-image: url("../images/index/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 50px;

  .lawyer-profile {
    background: #f1f0f0;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 50px;
    padding-right: 40px;
  }

  .lawyer-image-wrapper {
    text-align: center;
    margin: 0 auto;

    img {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
      width: 120px;
      height: 120px;
      display: inline-block;
      margin-bottom: 10px;
      border-radius: 50%;
      border: 3px solid #f2b50f;
    }
  }

  .lawyer-profile-text {
    font-family: $Nunito;
    font-size: 14px;
    line-height: 25px;
    color: #000000; 
    margin-top: 15px;
  }
}

.lawyer-profile__star {
  font-size: 20px;
}
.degree-wrapper {
  max-width: 400px;
  .degree {
    font-size: 20px;
    font-family: $Nunito;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .graduated {
    font-family: $Nunito;
    font-size: 16px;
  }
}
.activity-wrapper {
  .activity-header {
    font-size: 20px;
    font-family: $Nunito;
    margin-bottom: 15px;
    font-weight: bold;
  }
  .activity {
    max-width: 400px;
    font-family: $Nunito;
    font-size: 16px;
  }
}
.btn-circle {
  border-radius: 30px;
}
.cost__lawyer-work {
  font-family: $Nunito;
  margin-bottom: 30px;
}
.filed-work {
  font-family: $Nunito;
  &-header {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    display: block;
  }
  svg {
    margin-right: 10px;
  }
  span.btn {
    background-color: rgb(222, 237, 255);
    font-size: 12px;
  }
}
.lawyers__tabs {
  .nav {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-link {
    position: relative;
  }
  .lawyer__profile-card-icon {
    color: #f2b50f;
  }
  .lawyer__profile-card-text {
    color: #000;
  }
  .fa-angle-right {
    color: #f2b50f;
    display: inline-block;
    position: absolute;
    right: 10px;
  }
  .nav-item {
    width: 250px;
  }
}
.lawyer__tabs {
  .nav {
    padding-left: 0;
    padding-right: 0;
  }
  .nav-item {
    width: 200px;
  }
  .nav-item .nav-link {
    position: relative;
     .lawyer__tabs-right {
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }
  .nav-link.active {
    .user__profile-card-text {
      color: black !important;
    }
    .user__profile-card-text {
      color: white !important;
    }
   
  }
}
.lawyer-profile__card {
  .nav-item:nth-child(1) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/comment-solid.svg");
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  }
  .nav-item:nth-child(1) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/comment.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  }  
  .nav-item:nth-child(2) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/file-solid2.svg");
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
                background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(2) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/file-solid.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  } 
  .nav-item:nth-child(3) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/bell-solid2.svg");
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
                background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(3) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/bell-solid.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  } 
  .nav-item:nth-child(4) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 18px;
        height: 18px;
        background-image: url("../images/profil/cogs-solid.svg");
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
                background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(4) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/cogs.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  } 
  .nav-item:nth-child(5) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 18px;
        height: 18px;
        background-image: url("../images/profil/question.svg");
        background-size: 15px 15px;
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(5) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/question-solid.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  } 
  .nav-item:nth-child(6) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 18px;
        height: 18px;
        background-image: url("../images/profil/article.svg");
        background-repeat: no-repeat;
        background-size: 15px 15px;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(6) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/article-solid.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  }   
  .nav-item:nth-child(7) {
    a {
      position: relative;
      padding-right: 30px;
      padding-left: 37px;
      &:after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        left: 15px;
        width: 18px;
        height: 18px;
        background-image: url("../images/profil/cogs-solid.svg");
        background-repeat: no-repeat;
      }
      &:before {
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 15px;
        height: 15px;
        background-image: url("../images/profil/angle-right-solid.svg");
        background-repeat: no-repeat;
      }      
    }
  } 
  .nav-item:nth-child(7) {
    a.active {
      background-color: #f2b50f;

      &:after {
        background-image: url("../images/profil/cogs.svg");
      }
      &:before {
        background-image: url("../images/profil/angle-right.svg");
      }
    }
  }     
}
