.lawyer__wrapper {
  & > .container {
    padding-bottom: 40px;
  }
  .lawyer__inner {
    line-height: 31px;
    font-size: 18px;
    color: #000000;
    padding: 0 20px;
    border-left: 1px solid rgba(151, 151, 151, 0.23);
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;
    &::after {
      width: calc(100% - 40px);
      height: 1px;
      position: absolute;
      left: 20px;
      bottom: 0;
      border-bottom: 1px dashed #979797;
      content: "";
      opacity: 0.6;
    }
    p {
      font-weight: 500;
      font-size: 18px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    i {
      font-style: italic;
    }
    img {
      max-width: 100%;
      height: auto;
      margin: auto;
      display: block;
    }
    video,
    iframe {
      max-width: 100%;
      margin: auto;
      display: block;
    }
    figure {
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
      figcaption {
        color: #888888;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        padding-top: 5px;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding-left: 20px;
      li {
        margin-bottom: 15px;
        font-weight: 500;
        position: relative;
        padding: 0 25px !important;
        background: none !important;
        border: 0 !important;
        a {
          background-color: rgba(216, 216, 216, 0.33);
          margin: 0;
          padding: 16px 20px;
          font-weight: 600;
          color: #17206a !important;
          font-size: 16px;
          line-height: 22px;
        }
        &::before {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 10px;
          height: 10px;
          background-color: #184fa8;
          border-radius: 50%;
        }
      }
    }
    blockquote {
      margin: 40px 0 30px 0;
      &:not([class]) {
        border: 1px dashed #979797;
        background-color: #ffffff;
        position: relative;
        padding: 40px 28px 22px 28px;
        &::after {
          width: 46px;
          height: 46px;
          content: "";
          position: absolute;
          left: 25px;
          top: -23px;
          background: url("../images/blockquote.svg") no-repeat center;
          background-size: contain;
        }
        &::before {
          width: 46px;
          height: 46px;
          content: "";
          position: absolute;
          left: 29px;
          top: -20px;
          background-color: #4a90e2;
          background-size: contain;
          opacity: 0.4;
          border-radius: 100px;
        }
        p {
          margin-top: 0;
          font-size: 18px;
          font-style: italic;
          line-height: 31px;
          color: #000000;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          font-weight: 600;
          color: #17206a !important;
          font-size: 16px;
          line-height: 22px;
        }
      }
      &.link-style {
        background-color: rgba(216, 216, 216, 0.33);
        border-left: 5px solid #3b5fb8;
        margin: 0;
        padding: 5px 20px;
        p,
        a {
          margin-bottom: 16px;
          margin-top: 16px;
          font-weight: 600;
          color: #17206a;
          font-size: 16px;
          line-height: 22px;
        }
        a {
          &:hover {
            color: #17206a;
          }
        }
      }
    }
    .main-img {
      width: 100%;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      &__caption {
        opacity: 0.56;
        color: #222222;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.06px;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
  }
  background-color: #2c2c2c;
  .lawyer__heading {
    font-size: 22px;
    line-height: 61px;
    color: #ffffff;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .lawyer__inner {
    background: white;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 10px;
    .lawyer__section-img {
      border-radius: 6px;
      max-width: 850px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    .lawyer__text {
      font-size: 14px;
      line-height: 25px;
      color: #1c1b1e;
      margin-top: 40px;
      margin-bottom: 30px;
      &-heading {
        font-size: 26px;
        font-weight: bold;
        line-height: 32px;
        color: #000000;
      }
    }
    .highlighted__text {
      padding: 10px;
      background: #b08e44;
    }
    // .highlighted__text-inner {
    //   font-weight: bold;
    //   font-size: 14px;
    //   line-height: 25px;
    //   color: #ffffff;
    //   padding-left: 20px;
    //   font-style: normal;
    //   margin: 0;
    //   padding-top: 20px;
    //   padding-bottom: 20px;
    //   position: relative;
    //   &::before {
    //     content: "";
    //     top: 0;
    //     left: 0px;
    //     position: absolute;
    //     height: 100%;
    //     width: 4px;
    //     border-radius: 16px;
    //     display: block;
    //     z-index: 1111;
    //     background-color: #fff;
    //   }
    // }
  }

  .lawyer__middle-news-image {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      max-width: 120px;
      width: 100%;
      max-height: 200px;
      height: auto;
      object-fit: contain;
    }
  }
}
