.news__wrapper {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.news__heading {
  text-align: center;
  font-family: $Cantata;
  font-size: 22px;
  line-height: 61px;
  color: #ffffff;
  padding-bottom: 0px;
  padding-top: 22px;
  margin: 0;
}

.news__header {
  border-radius: 8px;
  overflow: hidden;

  .container {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    background: #ffffff;
  }
}

.content-link {
  display: block;
  transition: all 0.3s ease;
}

.news__content {
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  border-radius: 8px;

  .news__title {
    font-family: $Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    @include textWrapper(3);
  }

  .news__text {
    font-family: $Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #626262;
    @include textWrapper(10);
  }

  .news__meta {
    margin-top: 20px;
    font-family: $Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #999999;

    &-calendar {
      background-image: url("../images/news/calendar.svg");
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 20px;
    }

    &-view {
      margin-left: 10px;
      background-image: url("../images/news/eye.svg");
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 18px;
    }
  }
}
.content-link:hover .news__title {
  color: #2945ab;
}
.main__news-link {
  display: block;
  height: 380px;
  transition: all 0.3s ease;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.pagination__menu .page-link {
  color:white !important;
}
.news__list {
margin-top: 50px;
}
.news__item {
  display: flex;
  align-items: stretch;
}
.news__item-link:hover .news__item-content-title {
  color: #2945ab;
}
.news__item-link {
  max-width: 362px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: block;
  margin-bottom: 50px;
  min-height: 422px;
  height: 100%;
  transition: all 0.3s ease;
  img {
    max-width: 362px;
    width: 100%;
    height: 200px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    object-fit: cover;
  }

  .news__item-content {
    font-family: $Nunito;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 16px;

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
       @include textWrapper(2);
    }

    &-text {
      font-size: 14px;
      line-height: 19px;
      color: #999999;
      @include textWrapper(3);
    }

    &-meta {
      font-size: 12px;
      line-height: 16px;
      color: #999999;

      &-calendar {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../images/news/calendar.svg");
        padding-left: 20px;
        margin-right: 12px;
      }

      &-view {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../images/news/eye.svg");
        padding-left: 18px;
      }
    }

    .more__btn {
      text-align: center;
      button {
        width: 100%;
        background-color: #fff;
        background-color: #00aced !important;
      }
    }

    .question__btn {
      margin-top: 20px;
    }
  }
}
