.our-services{
    background-image: url("../images/index/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.our-services-heading{
    text-align: center;
    font-family: $Cantata;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 30px;
}