.questions__innner-wrapper{
background-color: #1c1b1e;
}
.left-arrow-link{
    display: inline-block;
    img{
        padding-left: 15px;
    }
}
.questions__inner{
    max-width: 1080px;
    width:100%;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 24px;
}
