.lawyer-question {
  padding: 50px 0;
}

.lawyer-ques {
  padding: 25px;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  border: 0.0625rem solid rgba(0, 0, 0, 0.08);

  &__title {
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  &__desc {
    color: #6C7686;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__date {
    font-size: 14px;
    background-image: url('../images/customer/calendar.svg');
    background-repeat: no-repeat;
    padding: 0 0 0 26px;
    background-size: 20px;
    margin-bottom: 15px;
  }
  &__cust {
    span {
      font-weight: 600;
    }
  }
  &__doc {
    a {
      color: #007bff;
      display: block;  
      margin-bottom: 10px;
    }
  }
}

.lawyer-cost {
  margin-top: 50px;

  &__title {
    font-size: 25px;
  }

  &__form {
    label {
      font-weight: 600;
    }
    input {
      max-width: 220px;
    }
  }
  &__text {
    display: none;
    margin-top: 20px;
    font-weight: 600;
  }
  .active {
    display: block;
  }
  &__payment {
    margin-top: 20px;
    font-weight: 600;
  }
  button {
    background-color: #f2b50f;
    border-color: #f2b50f;
    &:hover, &:active, &:focus {
      background-color: #f2b50f !important;
      border-color: #f2b50f !important;
    }
  }
}
.cost__form {
  display: none;
}

.lawyer-ans {
  margin-top: 50px;
  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  textarea {
    outline: none;
    min-height: 150px;
    &:focus {
      box-shadow: none;
    }
  }
  &__info {
    display: none;
    margin-top: 20px;
  }
  .active {
    display: block;
  }
  #textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  #file {
    margin-bottom: 20px;
  }
  span {
    color: red;
  }
}

.answer-edit {
  display: none;
}
.openEdit {
  display: block;
}

.lawyer-ansList {
  margin-top: 40px;
  margin-bottom: 20px;
  &__item {
    padding: 25px;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    border: 0.0625rem solid rgba(0, 0, 0, 0.08);
  }

  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__date {
    font-size: 14px;
    background-image: url('../images/customer/calendar.svg');
    background-repeat: no-repeat;
    padding: 0 0 0 26px;
    background-size: 20px;
    margin-bottom: 10px;
  }
  &__file {
    margin-bottom: 10px;
    a {
      color: #0056b3;
    }
  }
}
